@tailwind base;

@layer base {
  /*
    FIXME: Add the real project fonts and fallbacks for them

    @font-face {
      font-family: 'Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('/fonts/path-to-sans-font-file.woff2') format('woff2');
    }

    For creating font fallback use our CLI tool https://github.com/pixel-point/fontpie
  
    @font-face {
      font-family: 'Sans Fallback';
      font-style: normal;
      font-weight: 400;
      src: local('Arial');
      ascent-override: 135.54%;
      descent-override: 39.21%;
      line-gap-override: 0%;
      size-adjust: 77.7%;
    }
  */
}
