@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
    FIXME: Add the real project fonts and fallbacks for them

    @font-face {
      font-family: 'Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('/fonts/path-to-sans-font-file.woff2') format('woff2');
    }

    For creating font fallback use our CLI tool https://github.com/pixel-point/fontpie
  
    @font-face {
      font-family: 'Sans Fallback';
      font-style: normal;
      font-weight: 400;
      src: local('Arial');
      ascent-override: 135.54%;
      descent-override: 39.21%;
      line-gap-override: 0%;
      size-adjust: 77.7%;
    }
  */
}

@layer components {
  .container {
    /* FIXME: Specify the real "px-" padding */
    /* FIXME: Specify the max-width "max-w-" by formula: 1920px design content width + padding * 2 */
    @apply mx-auto w-full;

    /*
      FIXME: Specify the real "px-" padding for each breakpoint
      @screen 2xl {
        @apply px-;
      }
    */
  }
}

@layer utilities {
  /*
    Handy CSS class to prevent Input background color becomes yellow in Chrome on autofill.
    Works as well with inputs with transparent background.

    https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  */
  .remove-autocomplete-styles:-webkit-autofill,
  .remove-autocomplete-styles:-webkit-autofill:hover,
  .remove-autocomplete-styles:-webkit-autofill:focus {
    transition: background-color 5000s;
  }
}
